.first-banner {
    background-color: rgb(166, 211, 234);
}
.second-banner {
    background-color: blanchedalmond;
}
.third-banner {
    background-color: #feeae9;
}
.row {
    justify-content: space-between;
}
.w-solve {
    width: 32% !important;
    border-radius: 4px;
}