.first-banner {
    background-color: rgb(166, 211, 234);
}
.second-banner {
    background-color: blanchedalmond;
}
.third-banner {
    background-color: #feeae9;
}
.row {
    justify-content: space-between;
}
.w-solve {
    width: 32% !important;
    border-radius: 4px;
}
.bd {
    border: none;
    box-shadow: 0 0 18px rgba(0,0,0,0.3);
}
.any {
    background-color:#f8f8f8;
    padding: 15px;
    border-radius: 4px;
}
.down {
    margin-bottom: 10px;
}
.bgd {
    background-color: #cfe2ff ;
}